# Python
__pycache__/
.ipynb_checkpoints/
*.pyc
.venv/
venv/
.env

# OS/IDE
.DS_Store
.idea/
.vscode/

# Jupyter
*.ipynb_checkpoints/

# Data (keep structure but ignore large files)
data/*
!data/.keep

